* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "convergence", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    /* background-color: #2c1762 #da0872; */
    background-image: url(./images/portfolio\ background.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    /* width: 100%; */
    position: relative;
}


.nav-link {
    /* position: fixed; */
    /* border: solid red; */
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20em; */
    padding: 40px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    /* padding-left: 50px; */
}

.logo {
    /* border: solid red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left h3 {
    color: #FF5722;
    font-size: 2em;
}




.fa-bars {
    /* display: none; */
    color: #fff;
    font-size: 2.5em;
    padding: 8px 20px;
    background-color: #383838;
    display: flex;
    justify-content: center;
    position: relative;
}



/* ---media-query--- */
@media(max-width:620px) {
    .nav-link {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:375px) {
    .left h3 {
        font-size: 1.2em;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .fa-bars {
        font-size: 1.2em;
    }
}











/* ---text--- */
.text {
    /* border: solid red; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    font-weight: 100;
    margin-top: 80px;
    z-index: 99;
}

h1 {
    font-size: 6em;
    display: flex;
    gap: .3em;
}

.text span {
    color: #FF5722;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-weight: 80;
    gap: .3em;
}

button {
    /* position: fixed; */
    border: solid #FF5722;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5722;
    margin: 10px auto;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 10px;
}

button:hover {
    background-color: #EE5D19;
}

button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding: 20px 25px;
}


/* --text media-query--- */
@media(max-width:768px) {
    h1 {
        font-size: 4em;
    }

    p {
        display: grid;
        text-align: center;
    }
}

@media(max-width:470px) {
    h1 {
        font-size: 2em;
    }


}






/* ---work--- */

.work {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 0px 40px;
}



h5 {
    font-size: 1.4em;
    color: #FF5722;
    font-weight: 500;
    margin-bottom: 10px;
}

h6 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}


/* ---right-side--- */
h4 {
    font-size: 1.2em;
    color: #FF5722;
    font-weight: 500;
    margin-bottom: 10px;
}


.social-links {
    display: flex;
    gap: .6em;
    justify-content: center;
    align-items: center;
}

li a {
    font-size: 1.5em;
    color: white;
}

.social-links li a:hover {
    color: #FF5722;
}

/* ---work media-query--- */
@media(max-width:770px) {
    h5 {
        margin-bottom: 5px;
    }

    h4 {
        margin-bottom: 5px;
    }
}

@media(max-width:545px) {
    .work {
        display: none;
    }

}




/* linear-gradient(#000000b3), */