* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "convergence", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url(./images/portfolio\ background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}

body::before {
    position: absolute;
    /* content: ; */
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 5);
}

.nav-link {
    /* position: fixed; */
    /* border: solid red; */
    width: 100%;
    /* margin: 10px auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20em; */
    padding: 40px;
}


.logo {
    /* border: 10px solid red; */
    width: 100px;
}


.fa-bars {
    /* display: none; */
    color: #fff;
    font-size: 2em;
    padding: 8px 15px;
    background-color: #383838;
    display: flex;
    justify-content: center;
    position: relative;
}



.menu-list {
    /* border: solid red; */
    margin: 10px auto;
    width: 180px;
    background-color: #383838;
    position: absolute;
    display: grid;
    justify-content: flex-start;
    display: none;

}

.menu-list li {
    /* border: solid red; */
    margin-bottom: 18px;
}

.menu-list li a {
    color: #fff;
    font-size: 1.5em;
    padding-left: 30px;
    /* font-weight: 900; */
}

.menu-list li a:hover {
    color: #FF5722;
}

/* ---media-query--- */
@media(max-width:800px) {
    .menu-list {
        display: none;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
    }

}











/* ---text--- */
.text {
    /* border: solid red; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    font-weight: 100;
    margin-top: 80px;
    z-index: 99;
}

h1 {
    font-size: 6em;
    display: flex;
    gap: .3em;
}

.text span {
    color: #FF5722;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-weight: 80;
}

button {
    /* position: fixed; */
    border: solid #FF5722;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5722;
    margin: 10px auto;
    border-radius: 10px;
}

button:hover {
    background-color: #EE5D19;
}

button a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding: 15px 25px;
}


/* --text media-query--- */
@media(max-width:768px) {
    h1 {
        font-size: 4em;
    }

    p {
        display: grid;
        text-align: center;
    }
}

@media(max-width:425px) {
    h1 {
        font-size: 2em;
    }


}






/* ---work--- */

.work {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 0px 40px;
}

h4 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

h5 {
    font-size: 1.5em;
    color: #FF5722;
    font-weight: 900;
}

h6 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}


/* ---right-side--- */
.social-links {
    display: flex;
    gap: .6em;
    justify-content: center;
    align-items: center;
}

li a {
    font-size: 1.5em;
    color: white;
}

.social-links li a:hover {
    color: #FF5722;
}

/* ---work media-query--- */
@media(max-width:990px) {
    .work {
        display: none;
    }
}