* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #292929;
}

header {
    /* border: thin solid #EE5D19; */
    background-color: #EE5D19;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 35em;
    align-items: center;
    position: fixed;
    z-index: 999;
    opacity: .9;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    /* padding-left: 50px; */
}

.logo {
    /* border: solid red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.left h3 {
    color: white;
    font-size: 2em;
}

.fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    /* padding-right: 50px; */
}




/* ---media query--- */
@media(max-width:775px) {
    header {
        display: flex;
        justify-content: space-between;
        gap: 25em;
    }

    .fa-bars {
        font-size: 2em;
    }
}

@media(max-width:560px) {
    header {
        gap: 15em;
    }
}

@media(max-width:500px) {
    header {
        gap: 6em;
    }
}



@media(max-width:410px) {
    header {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
}






/* ---main--- */
main {
    background-color: #383838;
}

main h1 {
    text-decoration-line: underline;
    text-decoration-color: #ff5722;
    font-size: 3em;
    color: white;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


main span {
    color: #EE5D19;
    text-decoration: underline;
    text-decoration-color: white;
}

.main-both {
    background-color: #383838;
    display: flex;
    justify-content: space-evenly;
    /* gap: 2em; */
    align-items: center;
    padding: 0px 80px;
    /* gap: 10cm; */
}







.main-img {
    /* border: 2px solid red; */
    width: 250px;
    height: 300px;
    border-radius: 20px;
    /* display: flex; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), ;
}


h2 {
    /* border: 2px solid red; */
    /* text-decoration-line: underline; */
    /* text-decoration-color: #ff5722; */
    font-size: 2.5em;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    /* text-align: center */
}



h4 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
}

strong {
    color: #ff5722;
    font-weight: 900;
}

button {
    border: 2px solid orangered;
    margin-top: 30px;
    padding: 20px 20px;
    background-color: #ff5722;
    border-radius: 10px;
}

button a {
    color: white;
}

button:hover {
    background-color: #EE5D19;
}

.main-education {
    background-color: #383838;
}

.main-education h3 {
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 100;
}

.education {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1em;
    margin-bottom: 50px;
    /* box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.edu-grid {
    border: 2px solid #ff5722;
    width: 350px;
    height: 180px;
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
}

.edu-grid:hover {
    animation-name: grid;
    animation-duration: 2s;
    border-bottom: 15px solid #ff5722;
}

@keyframes grid {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(1px);
    }
}

.school {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span2 {
    color: white;
    font-size: 1.8em;
    font-weight: 900;
}

span21 {
    width: 60px;
    height: 30px;
    background-color: #ff5722;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

span22 {
    color: white;
    font-size: 1em;
    font-weight: 50;
}

p {
    margin-top: 12px;
    font-size: 1.2em;
    color: white;
    font-weight: 500px;
}



.high-school {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span3 {
    color: white;
    font-size: 1.8em;
    font-weight: 900;
}

span31 {
    width: 60px;
    height: 30px;
    background-color: #ff5722;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

span32 {
    color: white;
    font-size: 1em;
    font-weight: 50;
}


.tech-school {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span4 {
    color: white;
    font-size: 1.8em;
    font-weight: 900;
}

span41 {
    width: 60px;
    height: 30px;
    background-color: #ff5722;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

span42 {
    color: white;
    font-size: 1em;
    font-weight: 50;
    /* padding-left: 50px; */
}


/* ---skills--- */
.skill h3 {
    font-size: 1.5em;
    font-weight: 100;
    color: white;
    padding: 10px 50px;
    margin-bottom: 20px;
    background-color: #383838;
}

.skills {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2em;
    padding-left: 80px;
}

.skil {
    width: 50px;
}

.skills p {
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

/* ---media query--- */
@media(max-width:1440px) {
    .main-both {
        display: flex;
        justify-content: space-evenly;

    }
}

@media(max-width:1150px) {
    .education {
        display: grid;
        grid-template-columns: auto;
        gap: 2em;
    }
}

@media(max-width:1024px) {
    .main-img {
        width: 300px;
        height: 400px;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1em;
    }
}

@media(max-width:850px) {
    .main-both {
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:785px) {
    .main-both {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .h2 {
        margin-bottom: 10px;
    }

    h4 {
        font-size: 1em;
    }

    .edu-grid {
        width: 300px;
        height: 150px;
    }

    p {
        font-size: 1em;
    }
}

@media(max-width:475px) {
    .javascript {
        position: relative;
        top: 110px;
        right: 250px;
    }

    /* .github {
        position: relative;
        top: 110px;
        right: 175px;
    } */
}

@media(max-width:320px) {
    .main-img {
        width: 200px;
        height: 300px;
    }

    h4 {
        font-size: .6em;
    }
}






/* ---hero-sect--- */
h1 {
    /* border: solid rebeccapurple; */
    display: flex;
    justify-content: center;
    color: white;
    padding: 50px;
    gap: .3em;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: #ff5722;
}

.hero-sect span {
    color: #ff5722;
    text-decoration: underline;
    text-decoration-color: white;
}

.container {
    /* border: solid red; */
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 3em;

}

.grid {
    background-color: #383838;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.grid:hover {
    animation-name: grid;
    animation-duration: 2s;
    border-bottom: 15px solid #ff5722;
}

@keyframes grid {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(12px);
    }
}


.grid-img {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
}

.grid-text {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: .5em;
    padding-left: 45px;

}

.border-left {
    background-color: #ff5722;
    height: 15px;
    width: 5px;
    border-radius: 5px;
}

.grid-text h3 {
    color: white;
}

.txt p {
    /* border: solid red; */
    width: 350px;
    margin: 10px auto;
    /* padding-left: 45px; */
}

.grid-img2 {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
}

.grid-img3 {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}

.grid-img4 {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}


/* ---media query--- */

@media(max-width:1024px) {
    .grid {
        width: 350px;
        height: 400px;
    }

    .grids {
        width: 300px;
        height: 200px;
    }

    .txt p {
        width: 250px;
        margin: 10px auto;
    }
}

@media(max-width:785px) {
    .container {
        display: grid;
        grid-template-columns: auto;
    }

    h1 {
        font-size: 2em;
    }
}

@media(max-width:376px) {
    .grid {
        width: 230px;
        height: 350px;
    }

    .grids {
        width: 180px;
        height: 150px;
    }

    .txt p {
        width: 150px;
    }
}





/* ---SERVICES-SECT--- */
.services-sect {
    background-color: #383838;
}

.services-sect h1 {
    font-size: 3em;
    color: white;
}

.services-sect span {
    color: #ff5722;
    text-decoration: underline;
    text-decoration-color: white;
}

.services {
    border: solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 40px;
    gap: 8em;
}

.service span {
    font-size: 1.8em;
    color: white;
    font-weight: 900px;
    text-decoration: none;
    margin-bottom: 0px;
}

.service p {
    /* border: solid red; */
    font-size: 1.2em;
    color: white;
    width: 300px;
    height: 100px;
    font-weight: 50px;
}

.service2 {
    /* border: thin solid red; */
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
}

.service2 span {
    font-size: 1.8em;
    color: white;
    font-weight: 900px;
    text-decoration: none;
    margin-bottom: 0px;
}

.service2 p {
    /* border: solid red; */
    font-size: 1.2em;
    color: white;
    width: 300px;
    height: 100px;
    font-weight: 50px;
}

@media(max-width:768px) {
    .services-sect h1 {
        font-size: 2em;
    }
}

@media(max-width:805px) {
    .services {
        flex-direction: column;
        gap: 1em;
    }
}




/* -----FOOTER----- */
footer {
    /* border: solid green; */
    margin-bottom: 100px;
}

footer h1 {
    font-size: 3em;
    color: white;
    text-decoration: underline;
    text-decoration-color: #ff5722;
}

footer span {
    font-size: 1em;
    color: #ff5722;
    text-decoration: underline;
    text-decoration-color: white;
}

.contact {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3em;
}

.con {
    /* border: solid rebeccapurple; */
    background-color: #383838;
    width: 350px;
    height: 100px;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), ;
}

.numbre {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.2em;
    color: white;
    margin-top: 25px;
}

.fa-phone {
    /* border: solid red; */
    padding: 8px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    background-color: #ff5722;
}

.numbre p {
    color: white;
    display: flex;
    justify-content: center;
}

.mail {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.2em;
    color: white;
    margin-top: 25px;
}

.fa-envelope {
    /* border: solid red; */
    padding: 8px 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    background-color: #ff5722;
}

.mail p {
    color: white;
    display: flex;
    justify-content: center;
}




.g-i-t {
    /* border: solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.g-i-t-text {
    /* border: 2px solid red; */
    padding: 15px 15px;
}


.g-i-t-text h3 {
    font-size: 1.8em;
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
}

.g-i-t-text h5 {
    color: white;
    font-size: 1.2em;
    font-weight: 50;
    margin-bottom: 10px;
}

.g-i-t-text h4 {
    font-size: 1.8em;
    color: white;
    margin-top: 50px;
    font-weight: 100;
}

.social-links {
    display: flex;
    gap: 1em;
}

.fa-brands {
    font-size: 2em;
    color: white;
}

.fa-brands:hover {
    color: #ff5722;
}

.message1 {
    display: flex;
    gap: 1em;
}

.input1 {
    border: 2px solid #383838;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    font-size: 1.2em;
}

.input2 {
    border: 2px solid #383838;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    font-size: 1.2em;
}

.input3 {
    border: 2px solid #383838;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    font-size: 1.2em;
}


.input4 {
    border: 2px solid #383838;
    width: 640px;
    /* height: 200px; */
    padding-top: 20px;
    padding-bottom: 150px;
    margin-top: 20px;
    background-color: #383838;
    border-color: #383838;
    color: white;
    font-size: 1.2em;
}

input:hover {
    border: 2px solid #fff;
}

/* ---footer media query-- */
@media(max-width:1024px) {
    .g-i-t {
        flex-direction: column;
    }

    .g-i-t-text {
        margin-bottom: 40px;
    }
}

@media(max-width:768px) {
    .contact {
        display: grid;
        grid-template-columns: auto;
    }

    .input2 {
        display: none;
    }

    .input4 {
        width: 430px;
    }

    footer h1 {
        font-size: 1.8em;
    }
}

@media(max-width:525px) {
    .con {
        width: 300px;
    }

    .message1 {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }

    .input1 {
        width: 300px;
    }

    .input3 {
        width: 300px;
    }

    .input4 {
        width: 300px;
    }
}