* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.box {
    margin: 30px auto;
    border: 2px solid black;
    width: 220px;
    position: relative;
    background: linear-gradient(to bottom, #e0e0e0, #e0e0e0);
}

.circle {
    width: 180px;
    height: 180px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 17px;
    background: radial-gradient(circle, #fff 70%, #ddd 100%);
    /* box-shadow: inset 0 4px 10px black; */
    animation: rotatefan .2s linear infinite;
}

.blade {
    width: 80px;
    height: 15px;
    border-radius: 5px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
}

.blade1 {
    transform: rotate(odeg);
}

.blade2 {
    transform: rotate(180deg);
}

@keyframes rotatefan {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.line {
    /* border: thin solid red; */
    width: 20px;
    height: 100px;
    margin: 10px auto;
    background-color: grey;
    border: none;
    /* position: absolute;
    display: flex;
    justify-content: center; */
}

.line2 {
    width: 30px;
    height: 100px;
    margin: 10px auto;
    background-color: blue;
    border-radius: 5px;
}

.box2 {
    /* border: thin solid red; */
    width: 80px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(63, 63, 63);
    /* border: none; */
    position: relative;
}

.innerbox {
    border: thin solid red;
    width: 30px;
    height: 20px;
    margin: 20px auto;
    background-color: blue;
    border: none;
    /* display: flex; */
    /* justify-content: center; */
    position: absolute;
    left: 25px;

}

.innerbox a {
    margin: auto;
    color: white;
    text-decoration: none;
    font-size: 10px;
}