* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F2F7F8;
}

header {
    border: 2px solid black;
    background-color: #F2F7F8;
    padding: 15px;
    border: none;
}

nav {
    border: 2px solid red;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.logo {
    font-weight: 900;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 1.5cm;
}

.menu-list {
    display: flex;
    gap: 0.5cm;
}

.menu-list li {
    list-style-type: none;
}

.menu-list li a {
    text-decoration: none;
    color: #475969;
    font-weight: 800;
    font-size: 18px;

}

.menu-list item a:hover {
    color: blue;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 0.4cm;
}

.right-side button {
    padding: 18px 22px;
    border-radius: 10px;
    border: thin solid black;
}

.right-side button a {
    text-decoration: none;
    color: #0C1825;
}

.right-side button1 {
    border: thin solid black;
    padding: 18px 22px;
    border-radius: 10px;
    background-color: #0C1825;
    border: none;
}

.right-side button1 a {
    text-decoration: none;
    color: white;
}