* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .mother {
    margin: 20px auto;
    position: relative;
    border: 2px solid black;
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.child1 {
    background-color: red;
    position: absolute;
    border: 2px sooid red;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 50px;
    left: 400px;
}

.child2 {
    background-color: blue;
    position: absolute;
    border: 2px solid blue;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    top: 75px;
    left: 425px;
}

.child3 {
    background-color: green;
    position: absolute;
    border: 2px solid green;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 100px;
    left: 450px;
}

.child4 {
    background-color: yellow;
    position: absolute;
    border: 2px solid yellow;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: 125px;
    left: 475px;
}

.child5 {
    background-color: orange;
    border: 2px solid orange;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 150px;
    left: 500px;
}

.child6 {
    background-color: purple;
    border: 2px solid purple;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 175px;
    left: 525px;
}

.child7 {
    background-color: indigo;
    border: 2px solid indigo;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 200px;
    left: 580px;

} */

body {
    background-color: grey;
}

.mother {
    /* border: 2px solid black; */
    width: 60%;
    height: 60vh;
    margin: 100px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children {
    position: absolute;
}

.child1 {
    /* border: 2px solid red; */
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: red;
}

.child2 {
    /* border: 2px solid blue; */
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: blue;
}

.child3 {
    /* border: 2px solid green; */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: green;
}

.child4 {
    /* border: 2px solid yellow; */
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: yellow;
}

.child5 {
    /* border: 2px solid orange; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: orange;
}

.child6 {
    /* border: 2px solid purple; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: purple;
}

.child7 {
    /* border: 2px solid indigo; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: indigo;
}

@media(max-width:575px) {
    .child1 {
        width: 400px;
        height: 400px;
        /* background-color: red; */
    }

    .child2 {
        width: 350px;
        height: 350px;
        border-color: blue;
        background-color: blue;
    }

    .child3 {
        width: 300px;
        height: 300px;
        border-color: green;
    }

    .child4 {
        width: 250px;
        height: 250px;
        border-color: yellow;
    }

    .child5 {
        width: 200px;
        height: 200px;
        border-color: orange;
    }

    .child6 {
        width: 150px;
        height: 150px;
        border-color: purple;
    }

    .child7 {
        width: 100px;
        height: 100px;
        border-color: indigo;
    }
}



@media(max-width:495px) {
    .child1 {
        width: 320px;
        height: 320px;
        /* background-color: red; */
    }

    .child2 {
        width: 270px;
        height: 270px;
        /* border-color: blue; */
        background-color: blue;
    }

    .child3 {
        width: 220px;
        height: 220px;
        border-color: green;
    }

    .child4 {
        width: 170px;
        height: 170px;
        border-color: yellow;
    }

    .child5 {
        width: 120px;
        height: 120px;
        border-color: orange;
    }

    .child6 {
        width: 70px;
        height: 70px;
        border-color: purple;
    }

    .child7 {
        width: 20px;
        height: 20px;
        border-color: indigo;
    }
}