* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.frame {
    /* border: 2px solid black; */
    width: 60%;
    height: 400px;
    margin: 50px auto;
    position: relative;
}

.television {
    border: 8px solid black;
    width: 200px;
    height: 150px;
    margin: 80px auto;
    background: top #8CD7FE;
    position: relative;
}

.television:hover {
    background: top white;
}

.image {
    width: 184px;
    height: 120px;
    position: relative;
    top: 15px;
}

.player {
    position: absolute;
    top: 65px;
}

.player1 {
    /* width: 50px; */
    height: 65px;
    left: 5px;
}

.player2 {
    left: 140px;
    height: 65px;
}

.ball {
    height: 20px;
    position: absolute;
    top: 110px;
    left: 40px;
    animation: roll 1s linear infinite;

}

@keyframes roll {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(100px);
    }
}

.stand {
    /* border: thin solid red; */
    background: black;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 140px;
    left: 80px;
    margin: 0px auto;
}

.bottomstand {
    border: thin solid black;
    width: 100px;
    height: 30px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 150px;
    left: 45px;
}

.speaker {
    /* border: thin solid red; */
    background-color: black;
    width: 120px;
    height: 200px;
    position: fixed;
    position: relative;
}

.speaker1 {
    left: 130px;
    bottom: 240px;
}

.speaker2 {
    left: 510px;
    bottom: 440px;
}

.circle1 {
    /* border: thin solid red; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 5px;
    left: 15px;
    animation: rotate .5s linear infinite;
}

.circle2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 5px;
    left: 15px;
    animation: rotate .5s linear infinite;
}

.innercircle {
    /* border: thin solid red; */
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.innercircle:hover {
    border: 4px solid black;
    background-color: green;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* ---media query--- */

@media(max-width:1024px) {
    .speaker1 {
        left: 50px;
    }

    .speaker2 {
        left: 440px;
    }
}

@media(max-width:990px) {
    .speaker1 {
        display: none;
    }

    .speaker2 {
        display: none;
    }
}