* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Avenir', sans-serif;

}

.alert {
    border: thin solid black;
    padding: 8px;
    background-color: #ff6600;
    text-align: center;
    border: none;
}

.alert span {
    color: #fff;
    font-weight: 900;
}

.alert button {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
}

.alert button a {
    text-decoration: none;
    color: #ff6600;
    font-weight: 900;
}




/* ---header--- */

header {
    border: 2px solid black;
    background-color: #F5F5EE;
    border: none;
}

nav {
    border: 2px solid black;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border: none;

}

.left {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;

}


.menu-list {
    display: flex;
    gap: 1.2em;
    position: relative;
}

.menu-list li {
    list-style-type: none;
}

.menu-list li a {
    text-decoration: none;
    color: #222;

}

.menu-list a:hover {
    color: #5cc1e8;
}

.safe {
    position: absolute;
}

.about {
    position: relative;
}

.dropdown a:hover {
    color: black;
}

.dropdown {
    /* border: thin solid red; */
    /* width: 200px; */
    margin: 8px auto;
    /* padding: 10px 30px; */
    background-color: white;
    position: absolute;
    top: 100%;
    display: none;
}


.dropdown li {
    /* border: solid black; */
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    width: 200px;
}

.about:hover .dropdown {
    display: block;
}

.dropdown li a:hover {
    text-decoration: black;
}

.dropdown li:hover {
    background-color: #E5E7EB;
}

.dropdown li a {
    /* border: thin solid black; */
    padding: 20px 10px;
    font-size: 1em;
    color: black;
}

/* ---dropdown2--- */

.companies {
    position: relative;
}

.com-dropdown a:hover {
    color: black;
}

.com-dropdown {
    margin: 8px auto;
    background-color: white;
    position: absolute;
    /* top: 100%; */
    display: none;
}

.com-dropdown li {
    background-color: white;
    width: 200px;
    padding: 10px 10px;
}

.com-dropdown li a {
    padding: 20px 10px;
    font-size: 1em;
    color: black;
}

.com-dropdown li:hover {
    background-color: #E5E7EB;
}

.companies:hover .com-dropdown {
    display: block;
}

/* ---dropdown3--- */
.startupjobs {
    position: relative;
}

.start-dropdown {
    margin: 8px auto;
    position: absolute;
    display: none;
}

.start-dropdown li {
    background-color: white;
    width: 200px;
    padding: 10px 10px;
}

.start-dropdown li a {
    padding: 20px 10px;
    font-size: 1em;
}

.start-dropdown li:hover {
    background-color: #E5E7EB;
}

.start-dropdown a:hover {
    color: black;
}

.startupjobs:hover .start-dropdown {
    display: block;
}

.resources {
    position: relative;
    z-index: 999;
}

.res-dropdown {
    margin: 8px auto;
    position: absolute;
    display: none;
}

.res-dropdown li {
    background-color: white;
    width: 200px;
    padding: 10px 10px;
}

.res-dropdown li a {
    padding: 20px 10px;
    font-size: 1em;
}

.res-dropdown li:hover {
    background-color: #E5E7EB;
}

.res-dropdown li a:hover {
    color: black;
}

.resources:hover .res-dropdown {
    display: block;
}

.btn-icons {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.btn-icons span {
    font-size: 1em;
}

.btn-icons button {
    padding: 10px 16px;
    background-color: #ff6600;
    border-radius: 5px;
    border: none;
}

.btn-icons button a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 900;
}

.fa-bars {
    display: none;
}